# Roms and rom-Related
baserom*.gba
baserom.*.ss*
*.sav
gba_bios.*
save.json

# Extracted data
!.gitkeep
*.o
build/
data/audio/modules/*
data/audio/samples/*
data/images/items/*
data/items/*
data/levels/*
data/monsters/*
data/battle_scripts/*
data/text/*
extracted/

# Nix
result
result-*

# Tooling
**/__pycache__
.claude/worktrees

# Ignore LGPL code for now
asm/krawall/

# Generated clang commands to improve editor experience
compile_commands.json
